In [178]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [183]:
data = pd.read_csv('datasets/multiple_linear_regression_dataset.csv')
data.head()

   age  experience  income
0   25           1   30450
1   30           3   35670
2   47           2   31580
3   32           5   40130
4   43          10   47830

In [185]:
class MyLinearRegression():

    learning_rate = 0.0001
    iterations = 10000

    def fit(self, X, y):

        m, n = X.shape
        theta = np.zeros((n))

        def gradient_mse(X, y, theta):
            return 1 / m * X.T.dot(X.dot(theta) - y)
        
        for _ in range(self.iterations):
            theta -= self.learning_rate * gradient_mse(X, y, theta)

        print(theta)

In [186]:
X = np.array([[1, 1], [1, 2], [1, 3]])
y = np.array([1, 2, 3])
mylinreg = MyLinearRegression()
mylinreg.fit(X, y)

[0.32539837 0.8529615 ]

In [187]:
from sklearn.linear_model import LinearRegression

linreg = LinearRegression()
linreg.fit(X, y)
linreg.intercept_, linreg.coef_

(6.661338147750939e-16, array([0., 1.]))

In [188]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

features = ['age', 'experience']
X_train, X_test, y_train, y_test = train_test_split(data[features], data['income'], test_size=0.2, random_state=42)

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X_train)

mylinreg = MyLinearRegression()
mylinreg.fit(X_scaled, y_train)

[ 977.90778282 4851.43388424]

In [189]:
linreg = LinearRegression()
linreg.fit(X_scaled, y_train)
linreg.intercept_, linreg.coef_

(42426.25, array([-884.53894609, 8465.28543013]))